# Terraform build stuff
_secrets.auto.tfvars
_secrets.auto.tfvars.json
secrets.auto.tfvars
secrets.auto.tfvars.json
.terraform
*.zip
build
package
.terraform.lock.hcl
.terraform.lock
*.tfstate
*.tfstate.backup

# MacOS
.DS_Store

# vscode
.vscode/vendor

# python
__pycache__
*.info
